<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServicesSection" type="IntelliTraceDataCollector.ServiceConfigurationSection, IntelliTraceDataCollector"/>
    <section name="AppPoolsSection" type="IntelliTraceDataCollector.AppPoolConfigurationSection, IntelliTraceDataCollector"/>
  </configSections>
  <ServicesSection>
    <Services>
      <add Name="MWExpertSystem" />
      <add Name="OMNetworkservice"  />
    </Services>
  </ServicesSection>
  <AppPoolsSection>
    <AppPools>
      <add Name="MWPool" />
      <add Name="7001"  />
    </AppPools>
  </AppPoolsSection>
  <startup> 
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
