<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServicesSection" type="IntelliTraceDataCollector.ServiceConfigurationSection, IntelliTraceDataCollector"/>
    <section name="AppPoolsSection" type="IntelliTraceDataCollector.AppPoolConfigurationSection, IntelliTraceDataCollector"/>
  </configSections>
  <ServicesSection>
    <!--<Services>
      <add Name="myService" />
    </Services>-->
  </ServicesSection>
  <AppPoolsSection>
    <!--<AppPools>
      <add Name="DefaultAppPool" />
    </AppPools>-->
  </AppPoolsSection>
  <startup> 
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
